# Rails
/backend/tmp/
/backend/log/
/backend/storage/
/backend/.env
/backend/db/*.sqlite3
/backend/db/*.sqlite3-journal

# Flutter
/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.packages
/frontend/build/
/frontend/web/assets/
/frontend/windows/flutter/ephemeral/
/frontend/linux/flutter/ephemeral/
/frontend/macos/Flutter/ephemeral/

# OS/IDE Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
